In [1]:
import pandas as pd

# ðŸ“¥ Load dataset
df = pd.read_csv('../data/resume_data.csv')

# ðŸ§  Basic Info
print("Total resumes:", df.shape[0])
df.head()

Total resumes: 2484

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [2]:
import re

def clean_text(text):
    text = re.sub(r'<[^>]+>', '', str(text))  # Remove HTML tags
    text = re.sub(r'\s+', ' ', text)          # Remove extra spaces
    return text.strip()

df['cleaned_resume'] = df['Resume_str'].apply(clean_text)

In [4]:
df.drop_duplicates(subset='cleaned_resume', inplace=True)

In [3]:
print("Available Categories:\n", df['Category'].value_counts())

Available Categories:
 Category
INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
ADVOCATE                  118
CHEF                      118
ENGINEERING               118
ACCOUNTANT                118
FINANCE                   118
FITNESS                   117
AVIATION                  117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: count, dtype: int64

In [5]:
df[['ID', 'cleaned_resume', 'Category']].to_csv('../data/cleaned_resumes.csv', index=False)